* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}
.tables_style {
    display: flex;
    display: inline-block;
    width: 90%;
    margin-bottom: 100px;
}
.style {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid #ffc72d;
    align-items: flex-end;
    min-height: 500px;
    padding: 20px;
    background-color: #e3e3e3;
    box-shadow: #ad4723 2px 2px 5px;
    border-radius: 50px 50px 0px 0px;
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;
    z-index: -2;
}

.border {
    /* background-color:#B35E3D ;*/
    background-color: #ad4723;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    align-items: center;
    width: 90%;
    height: 60px;
    position: absolute;
    border: 1px solid #ad4723;
    box-shadow: #ad4723 2px 0px 5px;
    z-index: -1;
    /* margin-top: 100px; */
}

.teamName {
    color: #f7f7f7;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 0.2em;
    line-height: 53px;
    margin-left: 10%;
    font-weight: 100;
}
.img {
    margin: 50px 50px;
    width: 95%;
    top: 200px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0px;
    align-items: center;
}

.navBar {
    /* background-image: url(/img_Style/Ribbon.jpg); */
    /* background-color:#80625B;  */
    background-color: #7b2b06fb;
    background-color: #80625b;
    width: 99.9vw;
    display: flex;
    justify-content: center;
    /* --sticky navbar-- */
    position: fixed;
    top: 0px;
}
.navList {
    float: left;
}

.navList {
    text-align: center;
    padding: 0px 50px;
    list-style: none;
    margin: 10px 0px;
    color: #f7f7f7;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    border-left: #f7f7f760 2px solid;
    border-right: #f7f7f760 2px solid;
}

a:hover {
    background-color: #d9d9d956;
}

.topBorder {
    width: 100%;
    height: 90px;
    background-color: #d9d9d9;
}

#menuLink {
    display: block;
    width: 300px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    font-size: 3.2em;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    transition: color 0.5s;
}

#menuLink:hover {
    background-color: #f5b096;
    color: white;
}

.footer {
    width: 100vw;
    height: 70px;
    /*  background-image: url(/img_Style/brown-background-texture-2.jpg); */
    /*    background-color:#7b2b06fb;  */
    background-color: #80625b;
    display: flex;
    justify-content: center;
    align-items: center;
    /* --sticky navbar-- */
    position: sticky;
    bottom: 0%;
}
.copyright {
    height: 50px;
    padding: 10px;
    bottom: 0px;
}
.iconify {
    font-size: 50px;
    padding: 10p;
}

.ethan {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    border: 1px solid #ffc72d;
    align-items: flex-end;
    /* min-height: 500px; */
    /* padding: 20px; */
    /* margin: 10px; */
    background-color: #e3e3e3;
    box-shadow: #ad4723 2px 2px 5px;
    border-radius: 50px 50px 0px 0px;
    margin: 50px;
}

.ethan-section {
    display: flex;
    width: 50%;
    flex-flow: row;
    justify-content: center;
}

.ethan-list {
    width: 80%;
    color: brown;
    height: 400px;
    min-width: 300px;
    margin: 5px;
    padding: 30px;
    /* line-height: 30px; */
    font-size: 20px;
    font-family: "Arial Narrow", Arial, sans-serif, monospace;
    background-color: #f7f7f7;
    box-shadow: #c7c0be 2px 2px 5px;
    border-radius: 3px;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(243, 204, 179);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 98, 91);
  }

  .jimmyColors {
    color: black;
  }

  .money {
    color: green;
  }

  .changes {
    color: black;
    font-family: 'Square Peg', cursive;
    font-size: larger;
  }