.table {
    color: brown;
    height: 400px;
    min-width: 300px;
    margin-top: 50px;
    padding: 30px;
    font-size: 20px;
    font-family: "Arial Narrow", Arial, sans-serif, monospace;
    background-color: #f7f7f7;
    box-shadow: #c7c0be 2px 2px 5px;
    border-radius: 3px;
    justify-content: center;
}

.list {
    list-style-type: square;
    /*list-style-position: inside;*/
}


